/* Estilos básicos para la barra de navegación */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {

    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('/IMG/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: white;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.bar-nav {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.bar-nav:hover {
    color: black;
    background-color: white;
}

.menu-icon {
    display: none;
    cursor: pointer;
}



.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 5%;
}
.principal .contenedor{
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.img-prin{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    width: 80%;
    font-size: 25px;
}
.formulario .categorias{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    
}
.formulario .categorias select{
    margin: 10px;
    width: 70%;
    height: 100%;
}

.categorias.checkbox {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en varias líneas */
    gap: 10px; /* Espacio entre botones */
    align-items: center;
    justify-content:center;
}

/* Ocultar el checkbox predeterminado */
.categorias.checkbox input[type="checkbox"] {
    display: none;
}

/* Estilo de los botones */
.categorias.checkbox label.titulo-box {
    color: black;
    display: inline-block;
    padding: 5px 10px;
    background-color: #ddd; /* Color de fondo */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambiar el estilo cuando el checkbox está seleccionado */
.categorias.checkbox input[type="checkbox"]:checked + label.titulo-box {
    background-color: black; /* Color de fondo seleccionado */
    color: white; /* Color del texto seleccionado */
}

/* Efecto hover */
.categorias.checkbox label.titulo-box:hover {
    background-color: black;
    color: white;
}

/* Estilo para el título "Extras" */
.categorias.checkbox > label[for="Extras"] {
    margin-right: 10px;
}

.categorias textarea{
    margin: 0 10px;
    width: 40%;
    border-radius: 10px;
}

button{
    font-family: "Lobster", serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    
}

button:hover{
    color: black;
    background-color: #ddd;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .enlaces {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        padding: 10px;
    }

    .enlaces.active {
        display: flex;
    }
    .img-prin{
        display: none;
    }
}

@media (max-width: 480px) {

    h1{
        font-size: 150%;
        text-align: center;
    }
    label{
        font-size: 60%;

    }
    .principal {
        margin: 0;
    }

    .principal .contenedor{
        width: 100%;
    }
}
